<h1>Welcome to the Engineering test app</h1>
  <ul>
    <li>
      <%= link_to 'Home', tweets_path %>
    </li>
    <li>
      <%= link_to 'Users', users_path %>
    </li>

    <li>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
<div>
  <div>
    <%= render 'new' %>
  </div>

  <div>
    <%= render partial: 'shared/tweet-table' %>
  </div>
</div>
