<h1>Users</h1>

<div>
  <div>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= link_to "#{user.username}", user_path(user) %>
        </li>

        <% unless current_user == user %>
          <% unless current_user.following?(user) %>
            <%= form_for(current_user.active_relationships.build) do |f| %>
              <div><%= hidden_field_tag :followee_id, user.id %></div>
              <%= f.submit "Follow" %>
            <% end %>
          <% end %>

          <%= link_to 'Unfollow', relationship_path(user), method: :delete if current_user.following?(user) %>
        <% end %>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
